// Created by troy on 27/02/14.
extends fbcomments
block checkNav
    li(class="active")
        a(href="/check")
            p Check
block content
    div
    div(class="minitron smallbreak")
        div(class="container")
            h4 Check - CompSci 111 E1
    script window.fbAsyncInit = function() {FB.init({appId      : '{427162887386428}', status     : true, xfbml      : true });};(function(d, s, id){var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));

    div(class="container container-top")
        div(class="row")
            div(class="col-lg-5")
                p Here is where the question + answers will go
            div(class="fb-comments col-lg-7", data-href="http://examinate.azurewebsites.net/check", data-numposts="15", data-colorscheme="light", width="546")