// Created by troy on 27/02/14.
extends fbcomments
block checkNav
  li.active
    a(href="/check") Check
block content
  div.minitron
    div.container
      h4 Check - #{course} #{exam}
    script window.fbAsyncInit = function() {FB.init({appId      : '{427162887386428}', status     : true, xfbml      : true });};(function(d, s, id){var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));
  div.container
    div.row
      div.col-lg-6
        div.row(style="padding-top: 30px")
          table.table
            tr
              td
                strong Qu
              td
                strong Your answer
              td
                strong People with same answer
            if answers
              for answer in answers
                tr
                  td #{answer.question}
                  td #{answer.answer}
                  td
                    div.progress
                      - var percentage = ((answer.numSame/answer.totalAnswered)*100)
                        if  percentage<=20
                          div.progress-bar.progress-bar-danger(style="width: "+percentage+"%")
                        else if  percentage<=50
                          div.progress-bar.progress-bar-warning(style="width: "+percentage+"%")
                        else if  percentage>=85
                          div.progress-bar.progress-bar-success(style="width: "+percentage+"%")
                        else
                          div.progress-bar.progress-bar(style="width: "+percentage+"%")
      div.fb-comments.col-lg-6(data-href="http://examinate.azurewebsites.net"+url, data-numposts="15", data-colorscheme="light", width="550")
