// Created by troy on 27/02/14.
extends fbcomments
block checkNav
    li(class="active")
        a(href="/check")
            p Check
block content
    script window.fbAsyncInit = function() {FB.init({appId      : '{427162887386428}', status     : true, xfbml      : true });};(function(d, s, id){var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));
    div(class="col-md-8")
        p deeerrrrrrrrrrrrrpppppppppppssssssss
    div(class="fb-comments col-md-4", data-href="http://examinate.azurewebsites.net/check", data-numposts="15", data-colorscheme="light", width="500")