// Created by troy on 27/02/14.
extends fbcomments
block checkNav
  li.active
    a(href="/check") Check
block content
  div
  div.minitron
    div.container
      h4 Check - CompSci 111 E1
  script window.fbAsyncInit = function() {FB.init({appId      : '{427162887386428}', status     : true, xfbml      : true });};(function(d, s, id){var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));

  div.container
    div.row
      div.col-lg-6
        h3 Question 3
        p Here is where the question + answers will go
      div.fb-comments.col-lg-6(data-href="http://examinate.azurewebsites.net/check", data-numposts="15", data-colorscheme="light", width="468")