extends nav
block content
  div.minitron
    div.container
      h4 CompSci 101
  div.container
    div.row
      div.col-lg-12
        h2 Select an exam paper
    div.row
      div.col-lg-8
        div.row
          div.col-lg-12
            a.btn.btn-default.btn-block.course-button(href="#")
              h3 Exam Semester 1 2013
              p 50/50 Questions answered
        div.row
          div.col-lg-12
            a.btn.btn-default.btn-block.course-button(href="/check?c=compsci101&e=2012s1")
              h3 Exam Semester 2 2012
              p 50/50 questions answered
        div.row
          div.col-lg-12
            a.btn.btn-default.btn-block.course-button(href="#")
              h3 Exam Semester 1 2012
              p 4/20 questions answered
      div.col-lg-4
        a.btn.btn-default.btn-block.course-button(href="/add")
          h3 +Add exam