extends layout
block nav
    ul(class="nav navbar-nav")
        li(class="active")
            a(href="/home")
                p Home
        li
            a(href="/logout")
                p Logout
block content
    div(class="jumbotron")
        div(class="container")
            h1
            img(src="images/darlek.png", alt="Examinate Logo", height="120", width="100")
            if user
              div.welcomebox
              p.
               Welcome, #{user.username}
            h3  Coming soon