extends layout
block nav
  ul(class="nav navbar-nav")
    block homeNav
      li
        a(href="/")
          p Home
    block aboutNav
      li
        a(href="about")
          p About
block content