extends layout
block nav
  ul(class="nav navbar-nav")
    if !user
      block homeNav
        li
          a(href="/")
            p Home
      block aboutNav
        li
          a(href="about")
            p About
    else
      block homeNav
        li
          a(href="/home")
            p Home
      block submitNav
        li
          a(href="/submit")
            p Submit
      block checkNav
        li
          a(href="/check")
            p Check
      block modifyNav
        li
          a(href="/modify")
            p Modify
      block logoutNav
        li
          a(href="logout")
            p Logout
block content