extends indexMenu

block aboutNav
    li(class="active")
      a(href="about")
        p About

block content
  div
    div(class="minitron smallbreak")
      div(class="container")
        h4 About Examinate
    div(class="smallbreak center")
        h3 Examinate is the best way to practise for your exams
        p(class="smallbreak")
         p Examinate is coming soon.
         p blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah<br/>
         p blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah<br/>
         p blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah<br/>
         p blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah<br/>
    div(class="smallbreak")
      div(class="jumbotron")
        div(class="container center")
          div(class="col-sm-4")
            h4 Practice exams
            img(src="/images/darlek.png", alt="Examinate Logo", height="60", width="55")
          div(class="col-sm-4")
            h4 Crowd sourced answers
            img(src="/images/darlek.png", alt="Examinate Logo", height="60", width="55")
          div(class="col-sm-4")
            h4 Something else
            img(src="/images/darlek.png", alt="Examinate Logo", height="60", width="55")