extends layout
block nav
  ul.nav.navbar-nav
    if !user
      block homeNav
        li
          a(href="/") Home
      block aboutNav
        li
          a(href="about") About
    else
      block homeNav
        li
          a(href="/home") Home
      block submitNav
        li
          a(href="/submit") Submit
      block checkNav
        li
          a(href="/check") Check
      block modifyNav
        li
          a(href="/modify") Modify
      block logoutNav
        li
          a(href="logout") Logout
  a.navbar-right(href="logout")
    button.btn.btn-default.navbar-btn Logout

block content