extends layout
block nav
  if !user
    ul.nav.navbar-nav
      block homeNav
        li
          a(href="/") Home
      block aboutNav
        li
          a(href="about") About
    a.navbar-right.btn.btn-default.navbar-btn(href="/auth/facebook")
      i.fa.fa-facebook
      |  | Sign in with Facebook
  else
    ul.nav.navbar-nav
      block homeNav
        li
          a(href="/home") Home
      block submitNav
        li
          a(href="/submit") Submit
      block checkNav
        li
          a(href="/check") Check
      block modifyNav
        li
          a(href="/modify") Modify
    a.navbar-right.btn.btn-default.navbar-btn(href="logout")
      i.fa.fa-facebook
      |  | Log out

block content