.navbar-default {
  background-color: #fff;
  border-color: #265073;
}
.navbar-default .navbar-brand {
  color: #265073;  
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #265073;
  background-color: transparent;
}
.navbar-default .navbar-nav li a {
  color: #265073  
}
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav .active a, 
.navbar-default .navbar-nav .active a:hover {
  background-color: #f9f9f9;
}
.jumbotron {
  background-color: #265073;
  color: #fff;
  text-align: center;
  margin: 0
}
.minitron {
    background-color: #265073;
    color: #fff;
    text-align: left;
    margin: 0
}
.jumbotron h3 {
  padding: 25px 25px 40px 25px;
}
.jumbotron .btn {
  color: #265073;
}
.break{
    padding: 80px;
}
.smallbreak{
    padding: 20px;
}